body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
}

header {
    background: linear-gradient(to right, #ff0000, #660000);
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.productos-destacados {
    padding: 20px;
}

.productos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.producto {
    background-color: #333;
    padding: 15px;
    border: 2px solid #ff0000;
    border-radius: 10px;
    width: 250px;
    transition: transform 0.3s;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 200px;
    height: auto;
}

.producto h3 {
    color: #ff0000;
}

.producto p {
    font-size: 14px;
}

footer {
    background-color: #660000;
    padding: 10px;
    margin-top: 20px;
    color: white;
}
